@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Media Query */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

/*  Desktop  */
body {
  background-color: #202124;
  color: #cfcfcf;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
}

a:hover {
  color: #8ab4f8;
  cursor: pointer;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

.call-out-box {
  background-color: #445d85;
  border-radius: 10px;
  padding: 0.75rem 0.5rem;
  width: 70vw;
  font-size: 0.75em;
  margin: 10px;
}

.keyword {
  color: #8ab4f8;
}

/*  Branding */

i.fab {
  font-size: 2rem;
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
}

/* Side Nav  */

#sidebar {
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
}
/*  Main Content */

main {
  margin: 2rem 4rem;
  padding: 1rem 3rem;
  margin-left: 10rem;
}

code {
  /* background-color: #5b677421; */
  padding: 10px;
  line-height: 0.7rem;
  border-radius: 5px;
}
/* Footer  */

footer {
  background-color: #445d85;
  width: 100%;
}

.credits {
  padding: 0.5rem;
  font-size: 0.75em;
  text-align: right;
}
